<p>register works!</p>
<form #register="ngForm" (ngSubmit)="onSubmit(register)">
  <div>
    <label>email</label>
    <input
      type="email"
      [(ngModel)]="registerForm.email"
      required
      name="email"
    />
  </div>
  <div>
    <label>LogIn</label>
    <input type="text" [(ngModel)]="registerForm.login" required name="login" />
  </div>
  <div>
    <label>Pass</label>
    <input
      type="password"
      [(ngModel)]="registerForm.password"
      required
      name="password"
    />
  </div>

  <button type="submit">Register</button>
</form>
