<p>register</p>
<form
    #register="ngForm"
    class="ng-pristine ng-untouched ng-valid"
    novalidate=""
>
    <div>
        <label>email</label>
        <input
            class="form-control"
            autocomplete="off"
            type="email"
            [(ngModel)]="userEmail"
            required
            name="email"
            email
        />
    </div>
    <div>
        <label>username</label>
        <input
            class="form-control"
            autocomplete="off"
            type="text"
            [(ngModel)]="userName"
            required
            name="login"
        />
    </div>
    <div>
        <label>Pass</label>
        <input
            class="form-control"
            autocomplete="off"
            type="password"
            [(ngModel)]="userPassword"
            required
            name="password"
            minlength="8"
        />
    </div>

    <button
        type="submit"
        (click)="CreateUser()"
        [disabled]="!userName || !userEmail || !userPassword"
    >
        Register
    </button>
</form>
<p>{{ message }}</p>
