<p>login-form component</p>
<p>
    {{ parentString }}
</p>

<form
    #login="ngForm"
    class="ng-pristine ng-untouched ng-valid"
    novalidate=""
    (ngSubmit)="onSubmit(login)"
>
    <div class="authBlock">
        <div class="formGroup">
            <input
                type="text"
                class="formControl"
                autocomplete="off"
                type="email"
                placeholder="UserEmail"
                #userEmail
                name="email"
                required
                [(ngModel)]="data.email"
            />
        </div>

        <div class="formGroup">
            <input
                type="password"
                autocomplete="off"
                class="formControl"
                placeholder="Password"
                #userPassword
                required
                name="password"
                minlength="8"
                [(ngModel)]="data.password"
            />
        </div>

        <div class="formGroup">
            <button
                type="submit"
                class="btn btnPrimary"
                value="Log in"
                [disabled]="!userEmail || !userPassword"
            >
                login
            </button>
        </div>
    </div>
</form>
