<div class="container">
    <div class="nav">
        <a
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
        >
            <p class="logo">hello</p></a
        >

        <a
            *ngIf="!authService.currentUser"
            routerLink="/register"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >register</a
        >
        <a
            *ngIf="!authService.currentUser"
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >login</a
        >
        <a
            *ngIf="!authService.currentUser"
            routerLink="/refreshpass"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >refreshpass</a
        >

        <a
            *ngIf="authService.currentUser"
            routerLink="/test"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >test</a
        >
        <button *ngIf="authService.currentUser" (click)="authLogOut()">
            logOut
        </button>
    </div>

    <router-outlet> </router-outlet>
</div>
