* {
    box-sizing: border-box;
}

.container {
    padding: 1.5rem;
}

.logo {
    color: red;
}
.nav,
.nav > div {
    display: flex;
    gap: 40px;
    align-items: center;
}
button {
    margin-left: auto;
}
a.active:not(:nth-child(1)) {
    border: 1px solid red;
}
