<p>register-form component</p>

<form
    #register="ngForm"
    class="ng-pristine ng-untouched ng-valid"
    novalidate=""
    (ngSubmit)="onSubmit(register)"
>
    <div class="authBlock">
        <div class="formGroup">
            <input
                type="email"
                class="formControl"
                name="email"
                placeholder="Email Address"
                #userEmail
                required
                [(ngModel)]="data.email"
            />
        </div>

        <div class="formGroup">
            <input
                type="password"
                class="formControl"
                placeholder="Password"
                #userPwd
                required
                name="password"
                [(ngModel)]="data.password"
            />
        </div>

        <div class="formGroup">
            <button type="submit" class="btn btnPrimary" value="Sign Up">
                Sign Up
            </button>
        </div>
    </div>
</form>
